h3
{
    width:300pt;
    height:4cm;
    background-color:#FFE4B5;
    border-style:ridge;
    border-color:#800080;
    margin-top:5%;
    margin-left:50%;
    margin-bottom:5%;
    font-size:12px;
    padding:12px;
}    
/*Mateusz Tuchowski 3F grupa 2*/